// Colors
$color-primary: #2b7a78;
$color-borders: #3aafa9;
$color-bg-light: #def2f1;

// Media query break-point
$breakpoint-nav: 395px;

/*** VARIABLES ***/
/* Colors */
$blue: #5680e9;
$lightblue: #84ceeb;
$lightblue-2: #c1c8e4;
$white: #ffffff;
$black: #1d1f20;
