.test {
  &__question {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: default;

    &-points {
      font-weight: normal;
    }
  }

  &__answer {
    font-size: 1.4rem;
    white-space: normal;
  }

  &__link {
    font-size: 1.2rem;
  }

  .box-card {
    min-height: 60vh;
  }

  .my-modal {
    width: 50vw;
  }

  .el-checkbox__input {
    vertical-align: top;
    margin-top: 0.2rem;
    .el-checkbox__inner {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
    }
    .el-checkbox__inner::after {
      content: unset;
    }
  }
}

@media screen and (max-width: 767px) {
  .test {
    &__question {
      font-weight: bold;
      font-size: 0.8rem;
    }

    &__answer {
      font-size: 0.8rem;
    }

    &__link {
      font-size: 0.8rem;
    }

    .my-modal {
      width: 85vw;
    }

    .el-checkbox {
      .el-checkbox__input {
        .el-checkbox__inner {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
        }
      }
    }
  }
}
