.result {
  &__status {
    min-height: 3rem;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
  }

  &__stats {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .result {
    &__status {
      min-height: 2.3rem;
      line-height: 2.3rem;
      font-size: 1rem;
    }

    &__stats {
      font-size: 1rem;
    }
  }
}
